.contact {
    background: linear-gradient(
        to top, 
        rgba(19, 197, 170, 0.5) 0%,  /* Fully transparent at the left */
        rgba(40, 168, 151, 0.4) 50%, /* Semi-transparent in the center */
        rgba(83, 119, 114, 0) 100%  /* Fully transparent at the right */
    );
    padding: 20px;
    text-align: center;
    color: #333; /* Text color for visibility */
}

.contact-container{
    font-family: 'Outfit';
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display:flex;
    flex-direction: column;
    align-items:start;
    gap:20px;
}

.contact-left-title h1{
    font-weight: 600;
    color: #242424;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border:none;
    width: 15rem;
    height: 2px;
    background-color: #404242;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 350px;
    height:50px;
    border:none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #242424;
    border-radius: 50px;
}

.contact-left textarea{
    height:140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #205253;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border:none;
    border-radius:50px;
    background: linear-gradient(270deg, #3a8a8b,#60a571);
    cursor: pointer;
}

@media(max-width:800px){
    .contact-inputs{
        width:200px
    }
}